/* Montserrat-Regular */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.otf') format("opentype"); 
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('../fonts/Montserrat-Medium.otf') format("opentype"); 
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bolder;
    src: url('../fonts/Montserrat-SemiBold.otf') format("opentype"); 
}

@font-face {
    font-family: 'Montserrat';
    font-weight: lighter;
    src: url('../fonts/Montserrat-Light.otf') format("opentype"); 
}

*{
    font-family: 'Montserrat';
}

h1{
    font-size: bold;
    font-size: 48px;
    color: $color-primary;

    @media (max-width: $breakpoint-minMobile) {
        font-size: 24px;
    }
}

h2{
    font-size: 36px;
    color: $color-secondary;

    @media (max-width: $breakpoint-minMobile) {
        font-size: 18px;
    }
}

p{
    font-size: 18px;
    color: $color-secondary;

    @media (max-width: $breakpoint-minMobile) {
        font-size: 12px;
    }
}

a{
    text-decoration: none;
    color: inherit;
}

.textWhite{
    color:$color-primary;
}

.textBigger{
    font-size: 24px;
    @media (max-width: $breakpoint-minMobile) {
        font-size: 12px;
    }
}

.invisible{
    font-size: 0;
}