*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  width: 100vw;
  min-width: 335px;
  max-width: 1240px;
  margin: auto;
  margin-top: 2rem;
}
@media (max-width: 425px) {
  body {
    max-width: 335px;
  }
}

/* Montserrat-Regular */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: url("../fonts/Montserrat-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: bolder;
  src: url("../fonts/Montserrat-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: lighter;
  src: url("../fonts/Montserrat-Light.otf") format("opentype");
}
* {
  font-family: "Montserrat";
}

h1 {
  font-size: bold;
  font-size: 48px;
  color: #ffffff;
  word-wrap: break-word;
}
@media (max-width: 425px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-size: 36px;
  color: #ff6060;
}
@media (max-width: 425px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  font-size: 18px;
  color: #ffffff;
}
@media (max-width: 425px) {
  h3 {
    font-size: 13px;
  }
}

p {
  font-size: 18px;
  color: #ff6060;
}
@media (max-width: 425px) {
  p {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.textWhite {
  color: #ffffff;
}

.textBigger {
  font-size: 24px;
}
@media (max-width: 425px) {
  .textBigger {
    font-size: 13px;
  }
}

.invisible {
  font-size: 0;
}

.banner {
  border-radius: 25px;
  margin-bottom: 2rem;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 425px) {
  .banner {
    height: 110px;
    padding: 2rem;
  }
}
.banner--home {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/homeBackground.png");
}
.banner--about {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/aboutBackground.png");
}

.accommodationCard {
  position: relative;
  margin-bottom: 3rem;
}
.accommodationCard__image {
  border-radius: 25px;
  height: 340px;
  width: 340px;
  object-fit: cover;
}
@media (max-width: 425px) {
  .accommodationCard__image {
    height: 255px;
    width: 100%;
  }
}
.accommodationCard:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 60%, black);
  border-radius: 25px;
}
@media (max-width: 425px) {
  .accommodationCard {
    margin-bottom: 1.5rem;
  }
}
.accommodationCard__title {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  max-width: 300px;
}

.dropdown {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 1022px;
}
@media (max-width: 1022px) {
  .dropdown {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .dropdown {
    margin-bottom: 1rem;
  }
}
.dropdown__title {
  background-color: #ff6060;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.dropdown__title i {
  float: right;
}
.dropdown__content {
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 5px;
}
.dropdown--thinner {
  width: 580px;
}

.tag {
  border-radius: 10px;
  background-color: #ff6060;
  font-size: 14px;
  width: 115px;
}
.tag__content {
  padding: 0.5rem;
  text-align: center;
}
@media (max-width: 425px) {
  .tag {
    border-radius: 5px;
    font-size: 10px;
    width: 84px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.header__logo img {
  max-width: 210px;
  max-height: 68px;
}
@media (max-width: 425px) {
  .header__logo img {
    max-width: 145px;
    max-height: 47px;
  }
}
.header__nav {
  padding-top: 12px;
  list-style: none;
  display: flex;
  color: #ff6060;
  font-size: 24px;
}
.header__nav li {
  margin-left: 5rem;
}
@media (max-width: 425px) {
  .header__nav li {
    margin-left: 2rem;
  }
}
@media (max-width: 425px) {
  .header__nav {
    text-transform: uppercase;
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  .header {
    margin-bottom: 1rem;
  }
}

.active {
  text-decoration: underline;
}

.footer {
  background-color: #000000;
  text-align: center;
  margin: 2rem 0;
  padding: 2rem;
}
.footer__logo {
  margin-bottom: 2rem;
}
.footer__logo img {
  max-width: 122px;
  max-height: 40px;
}

.appartmentGallery {
  background-color: #f7f7f7;
  border-radius: 25px;
  padding: 3rem 3rem 0 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .appartmentGallery {
    flex-direction: column;
    background-color: #ffffff;
    padding: 0;
    justify-content: flex-start;
  }
}

.taglist {
  list-style: none;
  display: flex;
}

.DropdownMenus {
  display: flex;
  justify-content: space-around;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notFound__error {
  margin-top: 170px;
  font-size: 288px;
  font-weight: bolder;
}
@media (max-width: 425px) {
  .notFound__error {
    font-size: 96px;
  }
}
.notFound__message {
  font-size: 36px;
}
@media (max-width: 425px) {
  .notFound__message {
    font-size: 18px;
    max-width: 200px;
    text-align: center;
  }
}
.notFound__goBack {
  font-size: 18px;
  text-decoration: underline;
  margin: 170px;
  cursor: pointer;
}
@media (max-width: 425px) {
  .notFound__goBack {
    font-size: 14px;
    margin: 132px 20px;
  }
}

/*# sourceMappingURL=style.css.map */
