*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  width: 100vw;
  min-width: 335px;
  max-width: 1240px;
  margin: auto;
  margin-top: 2rem;
}
@media (max-width: 425px) {
  body {
    max-width: 335px;
  }
}

/* Montserrat-Regular */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: url("../fonts/Montserrat-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: bolder;
  src: url("../fonts/Montserrat-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: lighter;
  src: url("../fonts/Montserrat-Light.otf") format("opentype");
}
* {
  font-family: "Montserrat";
}

h1 {
  font-size: bold;
  font-size: 48px;
  color: #ffffff;
  word-wrap: break-word;
}
@media (max-width: 425px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-size: 36px;
  color: #ff6060;
}
@media (max-width: 425px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  font-size: 18px;
  color: #ffffff;
}
@media (max-width: 425px) {
  h3 {
    font-size: 13px;
  }
}

p {
  font-size: 18px;
  color: #ff6060;
}
@media (max-width: 425px) {
  p {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.textWhite {
  color: #ffffff;
}

.textBigger {
  font-size: 24px;
}
@media (max-width: 425px) {
  .textBigger {
    font-size: 13px;
  }
}

.invisible {
  font-size: 0;
}

.banner {
  border-radius: 25px;
  margin-bottom: 2rem;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 425px) {
  .banner {
    height: 110px;
    padding: 2rem;
  }
}
.banner--home {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/homeBackground.png");
}
.banner--about {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/aboutBackground.png");
}

.accommodationCard {
  position: relative;
  margin-bottom: 3rem;
}
.accommodationCard__image {
  border-radius: 25px;
  height: 340px;
  width: 340px;
  object-fit: cover;
}
@media (max-width: 425px) {
  .accommodationCard__image {
    height: 255px;
    width: 100%;
  }
}
.accommodationCard:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 60%, black);
  border-radius: 25px;
}
@media (max-width: 425px) {
  .accommodationCard {
    margin-bottom: 1.5rem;
  }
}
.accommodationCard__title {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  max-width: 300px;
}

.dropdown {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 1022px;
}
@media (max-width: 1022px) {
  .dropdown {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .dropdown {
    margin-bottom: 1rem;
  }
}
.dropdown__title {
  background-color: #ff6060;
  padding: 1rem;
  border-radius: 5px;
}
.dropdown__title i {
  float: right;
}
.dropdown__content {
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 5px;
}

.photographerCard {
  max-width: 400px;
  width: fit-content;
  text-align: center;
  padding: 15px 0;
  margin: 30px 60px;
}
@media (max-width: 425px) {
  .photographerCard {
    margin: 10px auto;
  }
}
.photographerCard__name {
  cursor: pointer;
}
.photographerCard__name img {
  max-width: 240px;
  max-height: 240px;
  min-width: 240px;
  min-height: 240px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 0;
}
.photographerCard__desc {
  margin-bottom: 5px;
}

.photographerNumbers {
  font-size: 24px;
  font-weight: 500;
  width: 380px;
  display: flex;
  justify-content: space-around;
  padding: 20px 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: fixed;
  bottom: 0%;
  left: calc(50% + 200px);
}
@media (max-width: 425px) {
  .photographerNumbers {
    display: none;
  }
}

.tagList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tagList li {
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  padding: 2px 5px;
  margin: 3px;
}

.selectMenu {
  margin: 0 50px;
  margin-bottom: 40px;
  display: flex;
}
@media (max-width: 425px) {
  .selectMenu {
    display: none;
  }
}
.selectMenu label {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-right: 40px;
  padding-top: 7px;
}
.selectMenu select, .selectMenu option {
  width: 170px;
  height: 55px;
  padding-left: 15px;
  font-size: 18px;
}
.selectMenu select {
  border-radius: 5px;
}

.mediaCard {
  width: 350px;
  margin: 20px auto;
}
@media (max-width: 425px) {
  .mediaCard {
    width: 300px;
    margin: 10px auto;
  }
}
.mediaCard__image img {
  max-width: 350px;
  max-height: 300px;
  min-width: 350px;
  min-height: 300px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 425px) {
  .mediaCard__image img {
    max-width: 300px;
    max-height: 195px;
    min-width: 300px;
    min-height: 195px;
  }
}
.mediaCard__desc {
  display: flex;
  justify-content: flex-end;
  max-width: inherit;
}
.mediaCard__desc__name {
  font-size: 24px;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 425px) {
  .mediaCard__desc__name {
    font-size: 14px;
  }
}
.mediaCard__desc__number {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  white-space: nowrap;
}
@media (max-width: 425px) {
  .mediaCard__desc__number {
    font-size: 14px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.header__logo img {
  max-width: 210px;
  max-height: 68px;
}
@media (max-width: 425px) {
  .header__logo img {
    max-width: 145px;
    max-height: 47px;
  }
}
.header__nav {
  padding-top: 12px;
  list-style: none;
  display: flex;
  color: #ff6060;
  font-size: 24px;
}
.header__nav li {
  margin-left: 5rem;
}
@media (max-width: 425px) {
  .header__nav li {
    margin-left: 2rem;
  }
}
@media (max-width: 425px) {
  .header__nav {
    text-transform: uppercase;
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  .header {
    margin-bottom: 1rem;
  }
}

.active {
  text-decoration: underline;
}

.footer {
  background-color: #000000;
  text-align: center;
  margin: 2rem 0;
  padding: 2rem;
}
.footer__logo {
  margin-bottom: 2rem;
}
.footer__logo img {
  max-width: 122px;
  max-height: 40px;
}

.appartmentGallery {
  background-color: #f7f7f7;
  border-radius: 25px;
  padding: 3rem 3rem 0 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .appartmentGallery {
    flex-direction: column;
    background-color: #ffffff;
    padding: 0;
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=style.css.map */
