.tag{
    border-radius: 10px;
    background-color: $color-secondary;
    margin-right: 1rem;

    &__content{
        font-size: 14px;
        padding: .5rem 2rem;
        text-align: center;

        @media (max-width: $breakpoint-minMobile) {
            padding: .3rem 1rem;
            font-size: 10px;
        }
    }

    @media (max-width: $breakpoint-minMobile) {
        border-radius: 5px;
        margin-right: 0.5rem;
    }
}