.header{
    display: flex;
    margin-left: 50px;
    margin-top: 25px;

    &__logo{
        & img{
            max-width: 210px;
            max-height: 68px;
        }

        @media (max-width: $breakpoint-minMobile) {
            max-width: 210px;
            max-height: 68px;
        }
    }

    &__nav{
        padding-top: 12px;
        padding-left: 100px;
        list-style: none;
        display: inline;
        

        @media (max-width: $breakpoint-minMobile) {
            padding-left:0;
            margin: 0 40px;
        }
    }


    @media (max-width: $breakpoint-minMobile) {
        display: block;
        margin-top: 40px;
        margin-left: 20px;
    }
}