.main{
    &__title{
        position: absolute;
        top: 35px;
        --leftPos: calc(50% + 300px);
        @media (max-width: $breakpoint-minMobile) {
            --leftPos: calc(60%);;
            top: 50px;
        }
        left: var(--leftPos);
    }

    &__content{
        padding: 20px;

        display: flex;
        justify-content: space-around;
        align-content: space-between;
        flex-wrap: wrap;
    }
}